<!DOCTYPE html>
<html ng-app="myApp">

<html>
  <head>
    <meta charset="utf-8">
    <script src="vendors/angular.min.js"></script>
    <script src="vendors/jquery-2.2.3.min.js"></script>
    <script src="scripts/script.js"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="css/stylesheet.css" charset="utf-8">
    <title>Adventures with Cats</title>
  </head>
  <body>
    <div class="container-fluid">
      <div ng-include="'partials/navbar.html'">
      </div>
      <h1>Adventures with Cats</h1>
      <p>Introductory copy about cats.</p>
      <div>
          <p>Left column image of cat with link to view cat images.</p>
      </div>
      <div>
          <p>Observations about Cats</p>
          <button>Getting a cat</button>  <!-- copy in ng-show toggle dropdown  -->
          <div> Copy</div>
          <button>Cat harmony (multiple cats)</button>  <!-- copy in ng-show toggle dropdown  -->
            <div> Copy</div>
          <button>Feeling the cat love</button>  <!-- copy in ng-show toggle dropdown  -->
            <div> Copy</div>
          <button>Cat play</button>  <!-- copy in ng-show toggle dropdown  -->
            <div> Copy</div>
          <button>Litter box issues</button>  <!-- copy in ng-show toggle dropdown  -->
            <div> Copy</div>
          <button>Displaced aggression</button>  <!-- copy in ng-show toggle dropdown  -->
            <div> Copy</div>
    </div>
  </body>
</html>
