<!DOCTYPE html>
<html ng-app="myApp">

<html>
  <head>
    <meta charset="utf-8">
    <script src="vendors/angular.min.js"></script>
    <script src="vendors/jquery-2.2.3.min.js"></script>
    <script src="scripts/script.js"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="css/stylesheet.css" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Raleway:600,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:900" rel="stylesheet">
    <title>Adventures with Cats</title>
  </head>
  <body>
    <div class="container-fluid">
      <div ng-include="'partials/navbar.html'">
      </div>
      <div class="whitesection">
         <h1>Adventures with Cats</h1>
         <p>Introductory copy about cats.</p>
         <div class="row">
             <div class="col-md-8">
                <p>Observations about Cats</p>
                <button>Getting a cat</button>  <!-- copy in ng-show toggle dropdown  -->
                <div> Copy</div>
                <button>Cat harmony (multiple cats)</button>  <!-- copy in ng-show toggle dropdown  -->
                  <div> Copy</div>
                <button>Feeling the cat love</button>  <!-- copy in ng-show toggle dropdown  -->
                  <div> Copy</div>
                <button>Cat play</button>  <!-- copy in ng-show toggle dropdown  -->
                  <div> Copy</div>
                <button>Litter box issues</button>  <!-- copy in ng-show toggle dropdown  -->
                  <div> Copy</div>
                <button>Displaced aggression</button>  <!-- copy in ng-show toggle dropdown  -->
                  <div> Copy</div>
             </div>   <!-- end col 1 -->
             <div class="col-md-4">
                <p>Right column cat images.</p>
             </div>  <!-- end col 2 -->
         </div>  <!-- end row -->
       </div> <!-- end whitesection -->
      </div> <!-- end container-fluid -->
  </body>
</html>
