<!DOCTYPE html>
<html ng-app="myApp">

<html>
  <head>
    <meta charset="utf-8">
    <script src="vendors/angular.min.js"></script>
    <script src="vendors/jquery-2.2.3.min.js"></script>
    <script src="vendors/picturefill.min.js"></script>
    <script src="scripts/script.js"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="css/stylesheet.css" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Raleway:600,800' rel='stylesheet' type='text/css'>
    <title>Susan Rehl's Site</title>
  </head>
  <body>

      <div ng-controller = "viewController">

        <div ng-include="'partials/navbar.html'">
        </div>

        <div class = "container-fluid">

              <div class="intro">
                <div class = "row">
                  <div class="col-md-4" "image">
                     <img ng-src="images/me.jpg">Need pic</img>
                  </div>  <!-- end col -->
                  <div class="col-md-6">
                    <h2> Hi, I'm Susan Rehl</h2>
                    <p>Welcome to my site, where I apply new code technologies that I am learning to my many interests and hobbies. I hope you find something interesting!</p>
                  </div> <!-- end col -->
                    <div class="col-md-2">
                      <a href="/blog" class="button btn">My Blog</a>
                    </div> <!-- end col -->
                  </div> <!-- end row-->
              </div>  <!-- end intro section-->

              <div class="code">
                <h3>Adventures in Coding</h3>
                <p>I'm a software engineer who is always adventuring into new projects and new technologies. Click on the images to check out my hosted projects.</p>
                <div class="row">
                    <div class="col-md-6">
                      <img ng-src="images/disinfectant.jpg"></img>
                      <p class="caption">Hospital Disinfectant Selector</p>
                      <p class="caption">This solo project allows hospital personnel to get information on a disinfectant product quickly to facilitate prevention and control of outbreak situations. The healthcare worker fills out the very short questionnaire, and receives product information on 3 of the best products for their scenario.</p>
                    </div> <!-- end col-->
                    <div class="col-md-6">
                      <img ng-src="images/malia.jpg"></img>
                      <p class="caption">Hotel Room Assigner for Boating Team</p>
                      <p class="caption">A group project for the administrator of a boat racing team, this application allows the admin to set up information and send surveys to her team about their race attendance and hotel preferences. The team chooses their hotel room, with full editing allowed by the admin.</p>
                    </div>  <!-- end col-->
                </div>  <!-- end row-->
                <h4>Check out my code at my Github repository.</h4>
                  <a href="https://github.com/SusanRehl" class="button btn">Susan Rehl's Github Repository</a>
              </div> <!-- end coding section-->

              <div class="travel">
                <h3>Adventures in Travel Photography</h3>
                <p>As an amateur photographer, I enjoy capturing unique images wherever I go. These collections are some of my best work, of places which are close to my heart. Click on the images below to see a slideshow.</p>
                <div class="row">
                    <div class="col-md-4">
                      <img ng-src="images/davidaccademia.jpg"></img>
                      <p class="caption">Florence, Italy</p>
                      <p class="caption">September 2016</p>
                    </div> <!-- end col-->
                    <div class="col-md-4">
                      <img ng-src="images/sienastairs.jpg"></img>
                      <p class="caption">Siena, Italy</p>
                      <p class="caption">September 2016</p>
                    </div>  <!-- end col-->
                    <div class="col-md-4">
                      <img ng-src="images/tevereview.jpg"></img>
                      <p class="caption">Rome, Italy</p>
                      <p class="caption">September 2016</p>
                    </div>  <!-- end col-->
                </div>  <!-- end row-->
              </div> <!-- end travel section-->

              <div class="artwork">
                <h3>Art Adventures</h3>
                <p>My watercolor and acrylic paintings are a blend of realism, impressionism, and spiritual expressionism. I enjoy painting nature scenes, florals, and spiritual themes including mandalas.</p>
                  <a href="/art" class="button btn">Artwork</a>
              </div> <!-- end art section-->

              <div class="naturephotos">
                <h3>Nature Photography Adventures</h3>
                <p>Since I enjoy hiking and camping in many different environments, I take a lot of photographs of nature scenes. Included are scenes of famous places such as the Grand Canyon and Florida's beaches, and also little-known state and local parks.</p>
                <div class="row">
                    <div class="col-md-4">
                      <img ng-src="images/nature1.jpg"></img>
                    </div> <!-- end col-->
                    <div class="col-md-4">
                      <img ng-src="images/nature2.jpg"></img>
                    </div>  <!-- end col-->
                    <div class="col-md-4">
                      <img ng-src="images/nature3.jpg"></img>
                    </div>  <!-- end col-->
                </div>  <!-- end row-->
                <a href="/naturephotos" class="button btn">Nature Photography</a>
              </div>  <!-- end nature photos section-->

              <div class="diy">
                <h3>Adventures in DIY</h3>
                <p>coming soon!</p>
              </div>

              <div class="cats">
                <h3>Cats</h3>
                  <p>coming soon!</p>
              </div>

        <div class="footer">
          <div class="row">
              <div class="col-md-2">
                <p>&#169;	2016 Susan Rehl</p>
              </div>
              <div class="col-md-10">
                <p>Thanks for visiting my site!</p>
              </div>
           </div><!--end row-->
        </div><!--end footer-->

      </div> <!-- end container-fluid -->

    </div> <!-- end controller  -->

  </body>
</html>
