<!DOCTYPE html>
<html ng-app="myApp">

<html>
  <head>
    <meta charset="utf-8">
    <script src="vendors/angular.min.js"></script>
    <script src="vendors/jquery-2.2.3.min.js"></script>
    <script src="vendors/picturefill.min.js"></script>
    <script src="scripts/script.js"></script>
    <link rel="stylesheet" href="vendors/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="css/stylesheet.css" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Raleway:600,800' rel='stylesheet' type='text/css'>
    <title>Susan Rehl's Site</title>
  </head>
  <body>

      <div ng-controller = "viewController">

        <div ng-include="'partials/navbar.html'">
        </div>

        <div class = "container-fluid">

              <div class="intro">
                <div class = "row">
                  <div class="col-md-3">
                     <img ng-src="images/SusanInSiena.png" alt="Susan Rehl picture"></img>
                  </div>  <!-- end col -->
                  <div class="col-md-6">
                    <h2> Hi, I'm Susan Rehl</h2>
                    <p>Welcome to my site, where I apply new code technologies that I am learning to my many interests and hobbies. I hope you find something interesting!</p>
                  </div> <!-- end col -->
                    <div class="col-md-3">
                      <a href="/blog" class="button btn">My Blog</a>
                    </div> <!-- end col -->
                  </div> <!-- end row-->
              </div>  <!-- end intro section-->

              <div class="graysection">
                <h3>Adventures in Coding</h3>
                <p class="center">I'm a software engineer who is always adventuring into new projects and new technologies. Click on the images to check out my hosted personal projects.</p>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4 rightspace">
                      <a href="https://disinfectantselector.herokuapp.com/"><img ng-src="images/disinfectshot.png"></img></a>
                      <p class="captionhead">Hospital Disinfectant Selector</p>
                      <p class="caption">This solo project allows hospital personnel to get information on a disinfectant product quickly to facilitate prevention and control of outbreak situations. A healthcare worker fills out the very short questionnaire, and receives product information about the best products for their scenario.</p>
                    </div> <!-- end col-->
                    <div class="col-md-4 leftspace">
                      <a href="https://secure-shelf-37019.herokuapp.com/"><img ng-src="images/maliascreenshot.png"></img></a>
                      <p class="captionhead">Hotel Room Assigner for Boating Team</p>
                      <p class="caption">A group project for the administrator of a boat racing team, this application allows the admin to set up information and send surveys to her team about their race attendance and hotel preferences. The team chooses their hotel room, with full editing allowed by the admin. You may login using the username <em>visitor</em> and password <em>123</em> .</p>
                    </div>
                    <div class="col-md-2">
                    </div>  <!-- end col-->
                </div>  <!-- end row-->
                <h4 class="center">Check out my code at my Github repository.</h4>
                  <div class="center"><a href="https://github.com/SusanRehl" class="button btn">Susan Rehl's Github Repository</a></div>
              </div> <!-- end coding section-->

              <div class="whitesection">
                <h3 class="center">Adventures in Travel Photography</h3>
                <p class="center">As an amateur photographer, I enjoy capturing unique images wherever I go.<br >
                  These collections are some of my best work, of places which are close to my heart. <br />
                  Click on the images below to see a slideshow.</p>
                <div class="row">
                    <div class="col-md-4 center">
                      <img ng-src="images/FlorenceIcon.png"></img>
                      <p class="captionhead">Florence, Italy</p>
                      <p class="caption">September 2016</p>
                    </div> <!-- end col-->
                    <div class="col-md-4 center">
                      <img ng-src="images/SienaIcon.png"></img>
                      <p class="captionhead">Siena, Italy</p>
                      <p class="caption">September 2016</p>
                    </div>  <!-- end col-->
                    <div class="col-md-4 center">
                      <img ng-src="images/RomeIcon.png"></img>
                      <p class="captionhead">Rome, Italy</p>
                      <p class="caption">September 2016</p>
                    </div>  <!-- end col-->
                </div>  <!-- end row-->
              </div> <!-- end travel section-->

              <div class="graysection center">
                <h3>Art Adventures</h3>
                <div class="row">
                   <div class="col-md-4 center">
                     <img ng-src="images/treemandalaICON.png"></img>
                   </div>  <!-- end col-->
                   <div class="col-md-4 center">
                      <p>My watercolor and acrylic paintings are a blend of realism, impressionism, and spiritual expressionism. <br />
                        I enjoy painting nature scenes, florals, and spiritual themes including mandalas.</p>
                      <a href="/art" class="button btn">Artwork</a>
                  </div>  <!-- end col-->
                  <div class="col-md-4 center">
                     <img ng-src="images/monasteryroseICON.png"></img>
                  </div>  <!-- end col-->
                </div>  <!-- end row-->

              </div> <!-- end art section-->

              <div class="whitesection center">
                <h3>Nature Photography Adventures</h3>
                <p>Since I enjoy hiking and camping in many different environments, I take a lot of photographs of nature scenes. <br />
                  Included are scenes of famous places such as the Grand Canyon and Florida's beaches, and also little-known state and local parks. Click on the images below to see a slideshow.<br />
                </p>
                <div class="row">
                    <div class="col-md-4">
                      <img ng-src="images/Nature1.png"></img>
                      <p class="captionhead">Mountain and Woodland Scenes</p>
                    </div> <!-- end col-->
                    <div class="col-md-4">
                      <img ng-src="images/Nature2.png"></img>
                      <p class="captionhead">Desert Scenes</p>
                    </div>  <!-- end col-->
                    <div class="col-md-4">
                      <img ng-src="images/Nature3.png"></img>
                      <p class="captionhead">Beach Scenes</p>
                    </div>  <!-- end col-->
                </div>  <!-- end row-->
              </div>  <!-- end nature photos section-->

              <div class="graysection center">
                <h3>Adventures in DIY</h3>
                <p>coming soon!</p>
              </div>

              <div class="whitesection center">
                <h3>Cats</h3>
                  <p>coming soon!</p>
              </div>

        <div class="footer">
          <div class="row">
              <div class="col-md-2">
                <p>&#169;	2016 Susan Rehl</p>
              </div>
              <div class="col-md-10">
                <p>Thanks for visiting my site!</p>
              </div>
           </div><!--end row-->
        </div><!--end footer-->

      </div> <!-- end container-fluid -->

    </div> <!-- end controller  -->

  </body>
</html>
