    <div class="container-fluid">
      <div class="whitesection">
         <h1>Adventures with Cats</h1>
         <p>Introductory copy about cats.</p>
         <div class="row">
             <div class="col-md-8">
                <p>Observations about Cats</p>
                <button>Getting a cat</button>  <!-- copy in ng-show toggle dropdown  -->
                <div> Copy</div>
                <button>Cat harmony (multiple cats)</button>  <!-- copy in ng-show toggle dropdown  -->
                  <div> Copy</div>
                <button>Feeling the cat love</button>  <!-- copy in ng-show toggle dropdown  -->
                  <div> Copy</div>
                <button>Cat play</button>  <!-- copy in ng-show toggle dropdown  -->
                  <div> Copy</div>
                <button>Litter box issues</button>  <!-- copy in ng-show toggle dropdown  -->
                  <div> Copy</div>
                <button>Displaced aggression</button>  <!-- copy in ng-show toggle dropdown  -->
                  <div> Copy</div>
             </div>   <!-- end col 1 -->
             <div class="col-md-4">
                <p>Right column cat images.</p>
             </div>  <!-- end col 2 -->
         </div>  <!-- end row -->
       </div> <!-- end whitesection -->
      </div> <!-- end container-fluid -->
s
