html {
  font-size: 16px;
  font-family: "Helvetica, sans-serif";
}
body {
  font-size: 62.5%; /* 1 em = 10 px */
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Arima Madurai', cursive;
  font-size: 3em;
  margin-top: 50px;
}

h2 {
  font-family: 'Arima Madurai', cursive;
  font-size: 2.6em;
  text-align: center;
  padding: 10px 0;
  color: #e6002e;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.4em;
}

.container-fluid {
  width: 100%;
}

.intro {
  padding: 75px 50px 25px 70px;
}

.navbarcolor {
  background: linear-gradient(to right, #e6002e, #6625a7);
  color: #fff;
}

li {
  list-style: none;
}

.mynav {
  font-size: 1.4em;
  padding-right: 25px;
  color: #FFF:
}

.topspace {
  margin-top: 10px;
}

.navbar-nav.navbar-right li a {
    color: #FFF;
    text-decoration: none;
}

.navbar-nav.navbar-right li a:hover{
  text-decoration: none;
  color: #999999;
}

.navbar-nav.navbar-right li a:active{
  text-decoration: none;
  color: orange;
}


.adventure {
  font-family: 'Arima Madurai', cursive;
  font-size: 2.5em;
  letter-spacing: 15px;
  text-transform: uppercase;
  margin-top: 5px;
}

.graysection {
  background: #f2f2f2;
  margin: 0 -30px;
  padding: 10px 70px 25px 100px;
}

.whitesection {
  padding: 10px 70px 25px 70px;
}

.caption {

}

.captionhead {
  font-weight: bold;
  font-size: 1.7em;
  margin-top: 15px;
}

.center {
  text-align: center;
}

.leftspace {
  margin-left: 20px;
}

.rightspace {
  margin-right: 20px;
}

.footer {
  background: #6625a7;
  color: #FFF;
  /*margin: 0 -50px;*/
  padding: 60px 30px 10px 50px;
  font-size: .8em;
}

.button {
  background-color: #6625a7;
  color: #FFF;
  /*font-family: 'PT Sans Narrow', "Helvetica, sans-serif";*/
  margin: 20px 0 10px 0;
  padding-bottom: -5px;
}

.button:hover {
    background-color: #e6002e;
		cursor: pointer;
    text-decoration: none;
}

/* Styles for tablet */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1em;
  }
}
