html {
  font-size: 16px;
  font-family: "Helvetica, sans-serif";

}
body {
  font-size: 62.5%; /* 1 em = 10 px */
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Arima Madurai', 'Times New Roman', serif;
  font-size: 3em;
  margin-top: 70px;
}

h2 {
  font-family: 'Arima Madurai', 'Times New Roman', serif;
  font-size: 2.6em;
  text-align: center;
  padding: 10px 0;
  color: #e6002e;
}

h3 {
  font-size: 2em;
  font-family: 'Arima Madurai', 'Times New Roman', serif;
  margin-left: 30px;
  padding: 10px 0;
  color: #e6002e;
}

h4 {
  margin-top: -70px;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

p {
  font-size: 1.4em;
}

.container-fluid {
  width: 100%;
}

.intro {
  padding: 75px 50px 25px 70px;
}

.introcopy {
  margin: 5px 300px 25px 300px;
}

.navbarcolor {
  background: linear-gradient(to right, #e6002e, #6625a7);
}

li {
  list-style: none;
}

.mynav {
  font-size: 1.4em;
  padding-right: 25px;
}

.topspace {
  margin-top: 10px;
}

.navbar-nav.navbar-right li a {
  text-decoration: none;
  color: #FFF;
}

.navbar-nav.navbar-right li a:hover{
  text-decoration: none;
  color: #999999;
}

.navbar-nav.navbar-right li a:active{
  text-decoration: none;
  color: #aaddee;
}

.active {
   font-family: 'Arima Madurai', 'Times New Roman', serif;
   font-size: 1.5em;
   color: #aaddee;
}

.adventure {
  font-family: 'Arima Madurai', "Times New Roman", serif;
  font-size: 2.5em;
  color: #FFF;
  letter-spacing: 15px;
  text-transform: uppercase;
  margin-top: 5px;
}

.graysection {
  background: #f2f2f2;
  margin: 0 -30px;
  padding: 10px 70px 25px 70px;
}

.whitesection {
  padding: 10px 70px 25px 70px;
}

.whitesection h3 {
  margin: 0px;
}

.caption {
  font-size: 1.4em;
}

.captionhead {
  font-weight: bold;
  font-size: 1.7em;
  margin: 15px 0 5px 0;
}

.whitesection .captionhead {
  margin-left: -20px;
}

.center {
  text-align: center;
}

.leftspace {
  margin-left: 20px;
}

.rightspace {
  margin-right: 20px;
}

.bottomspace {
  margin-bottom: 40px;
}

.bottomspace2 {
  margin-bottom: 25px;
}

.rtalign {
  float: right;
}

.vcenter {
  height: 430px;
  line-height: 400px;
}

.vcenter p {
  vertical-align: middle;
  display: inline-block;
}

.footer {
  background: #6625a7;
  color: #FFF;
  padding: 30px 30px 10px 50px;
  font-size: .8em;
}

.button {
  background-color: #6625a7;
  color: #FFF;
  margin: 20px 0 10px 0;
  padding-bottom: -5px;
}

.button:hover {
    background-color: #ac00e6;
		cursor: pointer;
    text-decoration: none;
}

.icon {
  margin-top: 30px;
  padding-right: 20px;
}

.imageicon {
  border: 3px solid #cccccc;
}

/* Carousel Styling */

.carousel-indicators li {  /* hides dot style navigation buttons */
  visibility: hidden;
}

.carouselback {
  background-color: #000;
}

.carousel-control {  /* made space around arrows narrower */
  width: 50px;
}

.carousel {   /* made entire carousel narrower*/
  width: 650px;
  min-height: 475px;
  background-color: #000;
}

.carouselimage {  /* aligns image vertically with caption */
  max-height: 400px;
  margin: 15px auto 50px auto;
  padding-bottom: 40px;
}

.carousel-caption {   /* moves caption to underneath photo - default is on top of photo */
  margin: -25px -25px -50px -25px;
  padding: -250px 0 0 0;
  background-color: #000;
  font-family: 'Raleway', sans-serif;
}


/*Modal Styling:*/
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 200px;

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  /*background-color: #fff;*/
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: center;
  background-color: #cccccc;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 200%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
  color: #e6002e;
}

/* Styles for tablet */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1em;
  }
}
