
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid navbarcolor">
        <ul>
          <li class="navbar-brand adventure">Adventures</li>
        </ul>
        <div ng-controller="navCtrl">
        <ul class="navbar-nav navbar-right topspace" > <!-- one line, flush right -->

          <li class="mynav"><a ng-class="{ active: isActive('/home') }" href='#/home'>Home</a></li>
          <li class="mynav"><a ng-class="{ active: isActive('/coding') }" href='#/coding'>Coding</a></li>
          <li class="mynav"><a ng-class="{ active: isActive('/design') }" href='#/design'>Design &#38; Marketing</a></li>
          <li class="mynav"><a ng-class="{ active: isActive('/hobbies') }" href='#/hobbies'>Hobbies</a></li>
          <li class="mynav"><a ng-class="{ active: isActive('/contact') }" href='#/contact'>Contact</a></li>

          <!-- <li><a class="mynav" href="#blog">Blog</a></li> -->
        </div> <!-- end controller navCtrl -->
      </div><!--end container-fluid  -->
     </nav>  <!-- end nav bar -->
