<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <a class="navbar-brand">Adventures</a>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="navbar-brand" href="./">Home</a></li>
      <li><a class="navbar-brand" href="/travel">Travel Photography</a></li>
      <li><a class="navbar-brand" href="/art">Artwork</a></li>
      <li><a class="navbar-brand" href="/diy">DIY Projects</a></li>
      <li><a class="navbar-brand" href="/cats">Cats</a></li>
      <li><a class="navbar-brand" href="/blog">Blog</a></li>
    </ul>
  </div>
</nav>
</body>
