
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid navbarcolor">
        <ul>
          <li class="navbar-brand adventure">Adventures</li>
        </ul>
        <ul class="navbar-nav navbar-right topspace"> <!-- one line, flush right -->
          <li><a class="mynav" href=" /home ">Home</a></li>
          <li><a class="mynav" href=" /travel ">Travel Photography</a></li>
          <li><a class="mynav" href=" /naturephotos ">Nature Photography</a></li>
          <li><a class="mynav" href=" /art ">Artwork</a></li>
          <li><a class="mynav" href=" /diy ">DIY Projects</a></li>
          <li><a class="mynav" href=" /cats ">Cats</a></li>
          <li><a class="mynav" href=" /blog ">Blog</a></li>
          <!-- <li><a class="mynav" href=" #home ">Home</a></li>
          <li><a class="mynav" href=" #travel ">Travel Photography</a></li>
          <li><a class="mynav" href=" #naturephotos ">Nature Photography</a></li>
          <li><a class="mynav" href=" #art ">Artwork</a></li>
          <li><a class="mynav" href=" #diy ">DIY Projects</a></li>
          <li><a class="mynav" href=" #cats ">Cats</a></li>
          <li><a class="mynav" href=" #blog ">Blog</a></li> -->
          </ul>
        </div>  <!-- end container-fluid -->
     </nav>  <!-- end nav bar -->
