    <div class="container-fluid">
        <div class="whitesection">
           <h1>My Blog: Susan's Adventures</h1>
           <p>code here - do it myself or source in external blog app?</p>
        </div> <!-- end whitesection -->
      </div> <!-- end container -->

      


        <p class="center">As an amateur photographer, I enjoy capturing unique images wherever I go.<br >
          These collections are some of my best work, of places which are close to my heart. <br />
          Click on the images below to see a slideshow.</p>
        <div class="row">
            <div class="col-md-4 center">
              <img ng-src="images/FlorenceIcon.png"></img>
              <p class="captionhead">Florence, Italy</p>
              <p class="caption">September 2016</p>
            </div> <!-- end col-->
            <div class="col-md-4 center">
              <img ng-src="images/SienaIcon.png"></img>
              <p class="captionhead">Siena, Italy</p>
              <p class="caption">September 2016</p>
            </div>  <!-- end col-->
            <div class="col-md-4 center">
              <img ng-src="images/RomeIcon.png"></img>
              <p class="captionhead">Rome, Italy</p>
              <p class="caption">September 2016</p>



              <div class="row">
                 <div class="col-md-4 center">
                   <img ng-src="images/treemandalaICON.png"></img>
                 </div>  <!-- end col-->
                 <div class="col-md-4 center">
                    <p>My watercolor and acrylic paintings are a blend of realism, impressionism, and spiritual expressionism. <br />
                      I enjoy painting nature scenes, florals, and spiritual themes including mandalas.</p>
                    <a href="/art" class="button btn">Artwork</a>
                </div>  <!-- end col-->
                <div class="col-md-4 center">
                   <img ng-src="images/monasteryroseICON.png"></img>
                </div>  <!-- end col-->
              </div>  <!-- end row-->



                            <div class="whitesection center">
                              <h2>Nature Photography Adventures</h2>
                              <p>Since I enjoy hiking and camping in many different environments, I take a lot of photographs of nature scenes. <br />
                                Included are scenes of famous places such as the Grand Canyon and Florida's beaches, and also little-known state and local parks. Click on the images below to see a slideshow.<br />
                              </p>
                              <div class="row">
                                  <div class="col-md-4">
                                    <img ng-src="images/Nature1.png"></img>
                                    <p class="captionhead">Mountain and Woodland Scenes</p>
                                  </div> <!-- end col-->
                                  <div class="col-md-4">
                                    <img ng-src="images/Nature2.png"></img>
                                    <p class="captionhead">Desert Scenes</p>
                                  </div>  <!-- end col-->
                                  <div class="col-md-4">
                                    <img ng-src="images/Nature3.png"></img>
                                    <p class="captionhead">Beach Scenes</p>
                                  </div>  <!-- end col-->
                              </div>  <!-- end row-->
                            </div>  <!-- end nature photos section-->


                            <div class="whitesection center">
                              <h2>Cats</h2>
                              <img ng-src="images/cats.png"></img>
                              <p class="captionhead">My cats, Anya and Natasha!</p>
                            </div>
