    <div class="container-fluid">
      <div class="whitesection">

         <h1>Contact Susan Rehl</h1>

      </div><!-- end whitesection -->

      <div class="graysection">

        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
              <p><a href="mailto:susanrehl@gmail.com" class="button btn">Email Susan Rehl</a></p>
              <p><a href="https://disinfectantselector.herokuapp.com/" class="button btn" target="blank">Download Susan's Resume</a></p>
              <p></p>
              <p>LinkedIn and Github icons with links</p>
            </div>
        </div> <!-- end row-->

      </div> <!-- end graysection -->

    </div>  <!-- end container -->
