<main class="container-fluid">
      <header class="whitesection">

         <h1>Contact Susan Rehl</h1>

      </header><!-- end whitesection -->

      <section class="graysection">

        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
              <div class="indent">
                <p class="icon">I'd love to hear from you!</p>
                <p></p>
                <div class="contactbutton"><a href="mailto:susanrehl@gmail.com"><img ng-src="images/emailicon.png" class="icon"></img></a><a href="https://www.linkedin.com/in/susanrehl" target="blank"><img ng-src="images/LinkedIn_logo_initials.png" class="icon"></img></a><a href="https://github.com/SusanRehl" target="blank"><img ng-src="images/GitHub-Mark.png" class="icon"></img></a></div>
              </div>
            </div>
        </div> <!-- end row-->

      </section> <!-- end graysection -->

</main>  <!-- end container -->
