    <div class="container-fluid">
      <div class="whitesection">

         <h1>Design &#38; Marketing </h1>
         <p class="introcopy2">I began my career as a professional graphic designer and art director, working for non-profits, small agencies and freelancing.
           I greatly enjoyed developing logos and corporate identity, which led me to pursue marketing.</p>
         <p class="introcopy2">After earning an MBA in marketing, I worked in product management and communications for companies and non-profits at which
           I was able to continue to use my design background. In my most recent position, as head of the marketing team at a small medical supplies distributor,
           I discovered my fascination with the technology used by marketing. This led me to pursue a career in software development,
           focusing on front end where I can use my design and marketing skills and experience to enrich my software development work.</p>
      </div><!-- end whitesection -->

      <div id="projects" class="graysection" ng-controller="modalCtrl as $ctrl">

        <h3>My Projects</h3>
           <div class="row center">
              <div class="col-md-1">
              </div>
              <div class="col-md-3">
                 <div ng-click="$ctrl.unimed('lg')">
                   <img class="designimageicon" src="images/unimedlogoICON.png">
                 </div>
                 <p class="captionhead bottomspace center">Unimed Corporation</p>
              </div>

              <div class="col-md-3">
                <div ng-click="$ctrl.ugs('lg')">
                  <img class="designimageicon" src="images/UGSMedicalLogoICON.png">
                </div>
                <p class="captionhead center">UGS Medical</p>
              </div>

              <div class="col-md-3">
                <div ng-click="$ctrl.rsc('lg')">
                  <img class="designimageicon" src="images/RSClogoICON.png">
                </div>
                <p class="captionhead center">Research Supply Company</p>
              </div>
              <div class="col-md-2">
              </div>
          </div> <!-- end row-->

          <div class="row center">
              <div class="col-md-1">
              </div>
              <div class="col-md-3">
                <div ng-click="$ctrl.unimedspr('lg')">
                  <img class="designimageicon" src="images/unimedSPRlogoICON.png">
                </div>
                <p class="captionhead center">Unimed Corp. for S.P. Richards Co.</p>
              </div>
              <div class="col-md-3">
                <div ng-click="$ctrl.unimedstaples('lg')">
                  <img class="designimageicon" src="images/unimedstapleslogoICON.png">
                </div>
                <p class="captionhead center">Unimed Corp. for Staples</p>
              </div>
              <div class="col-md-3">
                <div ng-click="$ctrl.fitin('lg')">
                  <img class="designimageicon" src="images/FitInLogoICON.png">
                </div>
                <p class="captionhead center">Fit In Fitness and Training</p>
              </div>
              <div class="col-md-2">
              </div>
          </div> <!-- end row-->

<!-- MODAL SCRIPTS -->
          <script type="text/ng-template" id="unimed.html">
              <div class="modal-header">
                  <div class="modal-title" id="modal-title">
                      <p class="captionhead">Unimed Corporation</p>
                      <p class="caption">Medical product sellsheet, generated from database/template system I created, for distributor customers (B2B).</p>
                  </div>
              </div>
          <!-- BODY -->
              <div class="modal-body" id="modal-body">
                <img src="images/VisageSellsheet.png">
              </div>
          <!-- FOOTER -->
              <div class="modal-footer">
                  <a class="button btn" ng-click="$ctrl.ok()">Close</a>
              </div>
          </script>

          <script type="text/ng-template" id="ugs.html">
              <div class="modal-header">
                  <div class="modal-title" id="modal-title">
                    <p class="captionhead">UGS Medical</p>
                    <p class="caption">Designed and produced 8 foot tall vertical banner for tradeshows, along with booth and collateral design (B2B).</p>
                  </div>
              </div>
          <!-- BODY -->
              <div class="modal-body" id="modal-body">
                <img src="images/UGSMedicalVerticalBanner.png">
              </div>
          <!-- FOOTER -->
              <div class="modal-footer">
                  <a class="button btn" ng-click="$ctrl.ok()">Close</a>
              </div>
          </script>

          <script type="text/ng-template" id="rsc.html">
              <div class="modal-header">
                  <div class="modal-title" id="modal-title">
                    <p class="captionhead">Research Supply Company</p>
                    <p class="caption">Corporate identity pocket folder (shown flat) for sales information, designed and produced in conjunction with full corporate identity campaign, for research lab customers (B2B).</p>
                  </div>
              </div>
          <!-- BODY -->
              <div class="modal-body" id="modal-body">
                <img src="images/RSCPocketFolder.png">
              </div>
          <!-- FOOTER -->
              <div class="modal-footer">
                  <a class="button btn" ng-click="$ctrl.ok()">Close</a>
              </div>
          </script>

          <script type="text/ng-template" id="unimedspr.html">
              <div class="modal-header">
                  <div class="modal-title" id="modal-title">
                    <p class="captionhead">Unimed Corp. for S.P. Richards Co.</p>
                    <p class="caption">Quarterly product promotion flyer for S.P. Richards' distributor stores, wrote, designed, and produced in customizable PDF format. Product data, with customizable fields, was on the back. (for B2B client S.P. Richards, for their B2C efforts).</p>
                  </div>
              </div>
          <!-- BODY -->
              <div class="modal-body" id="modal-body">
                <img src="images/EndUserFlyerQ3Promo2013.png">
              </div>
          <!-- FOOTER -->
              <div class="modal-footer">
                  <a class="button btn" ng-click="$ctrl.ok()">Close</a>
              </div>
          </script>

          <script type="text/ng-template" id="unimedstaples.html">
              <div class="modal-header">
                  <div class="modal-title" id="modal-title">
                    <p class="captionhead">Unimed Corp. for Staples</p>
                    <p class="caption">Inservice on disinfectants products for medical subsidiary of Staples. Wrote and created inservice, and presented in person and via webinar to Staples' sales representatives and customer service staff (B2B).</p>
                  </div>
              </div>
          <!-- BODY -->
              <div class="modal-body" id="modal-body">
                <img src="images/StaplesDisinfectantInserviceCover.PNG">
              </div>
          <!-- FOOTER -->
              <div class="modal-footer">
                  <a class="button btn" ng-click="$ctrl.ok()">Close</a>
              </div>
          </script>

          <script type="text/ng-template" id="fitin.html">
              <div class="modal-header">
                  <div class="modal-title" id="modal-title">
                    <p class="captionhead">Fit In Fitness and Training</p>
                    <p class="caption">Logo design for marathon and general fitness training startup, for basic corporate identity and website (B2C). </p>
                  </div>
              </div>
          <!-- BODY -->
              <div class="modal-body" id="modal-body">
                <img src="images/FitInLogo.png">
              </div>
          <!-- FOOTER -->
              <div class="modal-footer">
                  <a class="button btn" ng-click="$ctrl.ok()">Close</a>
              </div>
          </script>


        </div> <!-- end modalCtrl -->

      </div> <!-- end graysection -->
    </div>  <!-- end container -->
