    <div class="container-fluid">

        <div class="whitesection">

           <h1>Photography &#38; Art</h1>
           <p>I discovered a love of photography and painting, especially in watercolor, while pursuing my BFA in graphic design.
             While I have done photography and illustration professionally, below are some of my personal projects, as they are my most interesting works.</p>

        </div><!--end whitesection-->

        <div class="graysection">

          <h3>Photography</h3>

          <div ng-controller="hobbiesController">

              <div class="row">
                  <div class="col-md-2"> <!-- col 1 empty -->
                     <p class="bottomspace2"></p>
                  </div><!-- end col 1 -->

                  <div class="col-md-8">  <!-- col 2 -->
                        <p class="captionhead">Memories of Italy</p>
                        <p>Chronicles my fantastic two-week adventure in Florence, Siena, and Rome in September 2015</p>
                        <p><button class="button btn-sm" ng-click="getItalySlides()">Start Slideshow</button></p>
                     <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="$index" class="carouselback">
                           <div>
                              <img ng-src="{{slide.image}}" class="carouselimage">
                           </div>
                           <div class="carousel-caption">
                               <h4>{{slide.text}}</h4>
                               <h5>{{slide.id}} of {{count}}</h5>
                           </div>
                        </div>  <!-- end slide -->
                     </div> <!-- end carousel -->
                  </div> <!-- end col 2 -->
              </div> <!-- end row -->

                  <div class="col-md-2"> <!-- col 3 empty -->
                     <p></p>
                  </div><!-- end col 3 -->
           </div> <!-- end row -->

        </div> <!-- end graysection -->

        <div class="whitesection">

          <h3>Art</h3>

          <div class="row">
              <div class="col-md-1">
              <p></p>
              </div>
              <div class="col-md-4 center">
                <p class="captionhead">Watercolor Mandala</p>
                <img ng-src="images/treemandala.png"></img>
              </div>
              <div class="col-md-7 vcenter">
                <p>More content coming soon.</p>
              </div>
          </div> <!-- end row -->

        </div> <!-- end whitesection -->

    </div> <!-- end container -->
