      <div ng-controller = "homeController">

        <div class = "container-fluid">

              <div class="intro">
                <div class = "row">
                  <div class="col-md-2">
                     <img ng-src="/images/susanrehl.png" alt="Susan Rehl picture"></img>
                  </div>  <!-- end col -->
                  <div class="col-md-7 leftspace">
                    <h1> Hi, I'm Susan Rehl</h1>
                    <p><b>Welcome to my adventures!</b></p>
                    <p>I am a front end software developer, with a passion for good design that meets marketing objectives.
                     Learning is the greatest adventure! I enjoy learning, and sharing what I've learned too!.</p>
                    <p>Check out my projects, and send me your feedback on the Contact page!</p>
                  </div> <!-- end col -->
                    <div class="col-md-3">
                      <!-- <a href="/blog" class="button btn">My Blog</a> -->
                    </div> <!-- end col -->
                  </div> <!-- end row-->
              </div>  <!-- end intro section-->

              <div class="graysection">
                <h2>Adventures in Coding</h2>
                <p class="introcopy">I began my software engineering career working in Javascript, jQuery, AngularJS, NodeJS, SQL,
                  and of course HTML5, CSS3, and Bootstrap. Now I am adventuring into new technologies,
                  and am creating new projects as I learn. Check out my work!</p>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4 rightspace">
                      <img ng-src="images/disinfectshot.png"></img>
                    </div> <!-- end col-->
                    <div class="col-md-4 leftspace">
                      <img ng-src="images/maliascreenshot.png"></img>
                    </div>
                    <div class="col-md-2">
                    </div>  <!-- end col-->
                </div>  <!-- end row-->
                  <div class="center">
                    <a href="#coding" class="button btn">Check out my projects</a>
                  </div>
              </div> <!-- end coding section-->

              <div class="whitesection">
                <h2 class="center">Adventures in Design and Marketing</h2>
                <p class="introcopy">Before my software engineering career, I was a marketer and graphic designer.
                  I have worked for a variety of businesses, including a medical supplies distributor, an electrical engineering firm,
                  and a paper party supplies manufacturer, and also ran a freelance business.
                  This background was a great foundation for my current front end developer career:
                  I know the value of good design, and always work with the client's needs, and the business' marketing objectives, in mind.
                  Check out my portfolio!</p>
                <div class="row">
                    <div class="col-md-2 center">
                      <p></p>
                    </div> <!-- end col-->
                    <div class="col-md-2 center">
                      <img class="imageicon" ng-src="images/unimedlogoICON.png"></img>
                    </div>  <!-- end col-->
                    <div class="col-md-2 center">
                      <img class="imageicon" ng-src="images/UGSMedicalLogoICON.png"></img>
                    </div>  <!-- end col-->
                    <div class="col-md-2 center">
                      <img class="imageicon" ng-src="images/RSClogoICON.png"></img>
                    </div> <!-- end col-->
                    <div class="col-md-2 center">
                      <img class="imageicon" ng-src="images/FitInLogoICON.png"></img>
                    </div>  <!-- end col-->
                    <div class="col-md-2 center">
                      <p></p>
                    </div>  <!-- end col-->
                </div>  <!-- end row-->
                  <div class="center">
                    <a href="#design" class="button btn">Check out my design</a>
                  </div>
              </div> <!-- end design section-->

              <div class="graysection center">
                <h2>Hobby Adventures</h2>
                <div class="row">
                    <div class="col-md-2 center">
                      <p></p>
                    </div> <!-- end col-->
                    <div class="col-md-2 center">
                      <img ng-src="images/FlorenceIcon.png"></img>
                      <p class="captionhead">Photography</p>
                    </div>  <!-- end col-->
                    <div class="col-md-2 center">
                      <img ng-src="images/treemandalaICON.png"></img>
                      <p class="captionhead">Art</p>
                    </div>  <!-- end col-->
                    <div class="col-md-2 center">
                      <img ng-src="images/lampICON.png"></img>
                      <p class="captionhead">DIY Projects</p>
                    </div> <!-- end col-->
                    <div class="col-md-2 center">
                      <img ng-src="images/catsICON.png"></img>
                      <p class="captionhead">Cats</p>
                    </div>  <!-- end col-->
                    <div class="col-md-2 center">
                      <p></p>
                    </div>  <!-- end col-->
                </div>  <!-- end row-->
                  <div class="center">
                    <a href="#hobbies" class="button btn">Check out my hobbies</a>
                  </div>
              </div> <!-- end art section-->

      </div> <!-- end container-fluid -->

    </div> <!-- end controller  -->
