      <div ng-controller = "homeController">

        <div class = "container-fluid">

              <div class="intro">
                <div class = "row">
                  <div class="col-md-2 col-xs-4">
                     <img ng-src="/images/susanrehl.png" alt="Susan Rehl picture"></img>
                  </div>  <!-- end col -->
                  <div class="col-md-10 col-xs-8 leftspace">
                    <h1>Susan Rehl, Software Developer</h1>
                    <p>I am a front end software developer, with a passion for creating great-looking websites and apps that meet marketing objectives.</p>
                    <p>Check out my projects, and send me your feedback on the Contact page!</p>
                  </div> <!-- end col -->
                  </div> <!-- end row-->
              </div>  <!-- end intro section-->

              <div class="graysection">
                <h2 class="center">Coding</h2>
                <p class="introcopy">I work in JavaScript, jQuery, AngularJS, NodeJS, Express.js, SQL, and of course HTML5, CSS3, and Bootstrap. Check out my work!</p>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4 center">
                      <img class="codingpix" ng-src="images/maliascreenshot.png"></img>
                    </div> <!-- end col-->
                    <div class="col-md-4 center">
                      <img class="codingpix" ng-src="images/monumentalmuffins.jpg"></img>
                    </div>
                    <div class="col-md-2">
                    </div>  <!-- end col-->
                </div>  <!-- end row-->
                  <div class="center">
                    <a href="#coding" class="button btn">Check out my projects</a>
                  </div>
              </div> <!-- end coding section-->

              <div class="whitesection">
                <h2 class="center">Design and Marketing</h2>
                <p class="introcopy">Before my software engineering career, I was a marketer and graphic designer.
                  I have worked for a variety of businesses, including a medical supplies distributor, an electrical engineering firm,
                  and a paper party supplies manufacturer, and also ran a freelance business.
                  This background was a great foundation for my current career in front end development:
                  I know the value of good design, and always work with the client's needs, and the business' marketing objectives, in mind.
                  Check out my portfolio!</p>
                <div class="row">
                    <div class="col-md-2 center">
                      <p></p>
                    </div> <!-- end col-->
                    <div class="col-md-2 center">
                      <img class="imageicon" ng-src="images/unimedlogoICON.png"></img>
                    </div>  <!-- end col-->
                    <div class="col-md-2 center">
                      <img class="imageicon" ng-src="images/UGSMedicalLogoICON.png"></img>
                    </div>  <!-- end col-->
                    <div class="col-md-2 center">
                      <img class="imageicon" ng-src="images/RSClogoICON.png"></img>
                    </div> <!-- end col-->
                    <div class="col-md-2 center">
                      <img class="imageicon" ng-src="images/FitInLogoICON.png"></img>
                    </div>  <!-- end col-->
                    <div class="col-md-2 center">
                      <p></p>
                    </div>  <!-- end col-->
                </div>  <!-- end row-->
                  <div class="center">
                    <a href="#design" class="button btn">Check out my design</a>
                  </div>
              </div> <!-- end design section-->

              <div class="graysection">
                <h2 class="center">Photography and Art</h2>
                <p class="introcopy">I've done photography and illustration professionally during my marketing and graphic design careers,
                  and worked extensively with Adobe Creative Suite, especially Photoshop, Illustrator and InDesign.
                  More visually interesting, though, are my personal projects, which are showcased here.</p>
                <div class="row">
                    <div class="col-md-2 center">
                      <p></p>
                    </div> <!-- end col-->
                    <div class="col-md-4 center">
                      <img ng-src="images/FlorenceIcon.png"></img>
                      <p class="captionhead">Photography</p>
                    </div>  <!-- end col-->
                    <div class="col-md-4 center">
                      <img ng-src="images/treemandalaICON.png"></img>
                      <p class="captionhead">Art</p>
                    </div>  <!-- end col-->
                    <div class="col-md-2 center">
                      <p></p>
                    </div>  <!-- end col-->
                </div>  <!-- end row-->
                  <div class="center">
                    <a href="#hobbies" class="button btn">Check out my photos &#38; art</a>
                  </div>
              </div> <!-- end art section-->

      </div> <!-- end container-fluid -->

    </div> <!-- end controller  -->
